@model IEnumerable<BangazonAuth.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductRating)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RatingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RatingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
