@model BangazonAuth.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Product Types";
}
<h2 class="top-buffer">Product Types</h2>

@foreach (var type in Model.ProductTypes)
{
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="Products" asp-action="OfType" asp-route-searchString="@type.Label">
                <h4>@type.Label (@Html.DisplayFor(modelItem => type.Quantity))</h4>
            </a>
        </div>
    </div>
    foreach (var product in type.Products)
    {
        <div class="row">
            <div class="col-md-10">
                @product.Title
            </div>
            <div class="col-md-2">
                @product.Price.ToString("C")
            </div>
        </div>
    }
}