@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>Name: </dt>
        <dd>
            @Model.AppUser.FirstName @Model.AppUser.LastName
        </dd>

        <dt>Phone Number: </dt>
        <dd>
            @Model.AppUser.PhoneNumber
        </dd>
        <dt>Address: </dt>
        <dd>
            @Model.AppUser.StreetAddress
        </dd>
        <dt>Email: </dt>
        <dd>
            @Model.AppUser.Email
        </dd>
    </dl>
    <div>
        <a asp-controller="PaymentTypes" asp-action="Details" >Saved Payment Methods</a> 
        <br />
        <a asp-controller="PaymentTypes" asp-action="Create" >Add Method of Payment</a>
        <br />
        <a asp-action="OrderHXDetail" asp-route-id="">Order History</a>
    </div> 
    <br />
    <a asp-action="EditProfile" asp-route-id="@Model.AppUser.Id" class="btn btn-default">Edit Profile</a>


</div>
