@model BangazonAuth.Models.ProductViewModels.MyProductsViewModel
@{
    ViewData["Title"] = "MyProducts";
}

<h2>MyProducts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("Current Inventory")
            </th>
            <th>
                @Html.DisplayName("Number Sold")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.SoldProd)
        {
            <tr>
                <td>
                   @item.ProdTitle
                </td>
                <td>
                    @item.ProdQuantity
                </td>
                <td>
                    @item.ProdCount
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Manage" asp-action="Index">Back to Profile</a>
</div>