@model BangazonAuth.Models.ProductViewModels.ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="top-buffer">@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>

    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">
                    @Html.DisplayFor(modelItem => product.Title)
                </a>
            </td>
            <td>@Html.DisplayFor(modelItem => product.Description)</td>
            <td>@Html.DisplayFor(modelItem => product.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => product.Price)</td>
        </tr>
    }

</table>