@model BangazonAuth.Models.ProductViewModels.ProductOrderDetailViewModel

@{
    ViewData["Title"] = "CompletedOrderDetail";
}

<h2>CompletedOrderDetail</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Products)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Price               
                </td>                  
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayName("Total")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Total</td>
            <td></td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-controller="Manage" asp-action="Index">Back to Profile</a>
</div>
