@model BangazonAuth.Models.ProductViewModels.ShoppingCartViewModel

<h2>@Model.User.FirstName @Model.User.LastName's Shopping Cart</h2>

@if (Model.ProductsInOrder.Count() == 0)
{
    <p>There are no items in your cart!</p>
}
else
{
<table class="table">
    <thead>
        <tr>
                <th>
                    Product
                </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductsInOrder)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form asp-controller="Products" asp-action="RemoveProductFromOrderConfirmed">
                    <input type="hidden" name="OrderId" value="@Model.Order.OrderId" />
                    <input type="hidden" name="ProductId" value="@item.ProductId" />
                    <input type="submit" value="Delete" class="btn btn-default" />
                </form>
            </td>

        </tr>
    }
    </tbody>
</table>
     <a asp-controller="Home" asp-action="Index">Home</a>
}
