@model BangazonAuth.Models.ProductViewModels.ShoppingCartViewModel

<h2>@Model.User.FirstName @Model.User.LastName's Shopping Cart</h2>

@if (Model.Products.Count() == 0)
{
    <p>There are no items in your cart!.</p>
}
else
{
<table class="table">
    <thead>
        <tr>
                <th>
                    Product
                </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>*@
        </tr>
    }
    </tbody>
</table>
}
