@model BangazonAuth.Models.ProductViewModels.ShoppingCartViewModel

<h2>@Model.User.FirstName @Model.User.LastName's Shopping Cart</h2>

@if (Model.ProductsInOrder.Count() == 0)
{
    <p>There are no items in your cart!</p>
}
else
{
<table class="table">
    <thead>
        <tr>
                <th>
                    Product
                </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ProductsInOrder)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Products" asp-action="RemoveProductFromOrder" asp-route-id="@item.ProductId">Delete</a>

            </td>

        </tr>
    }
    </tbody>
</table>
     <a asp-action="Index">Back to Cart</a>
}
