@model IEnumerable<BangazonAuth.Models.PaymentType>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.AccountNumber
                </td>
                <td>
                    @item.DateCreated
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.PaymentTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Manage" asp-action="Index">Back to Profile</a>
</div>
